<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Поиск по корпусу текстов</title>
</head>
<body>

<article>
  <header>
    <h1>Поиск</h1>
  </header>
 <form action="/" method="GET" name="search">
  <p><strong>Введите фразу, которую хотите найти</strong></p>
  <p><input type="text" id="tofind" name="tofind" value="{{search_line}}" maxlength="500"></p>
  <p><input type="submit" value="Искать"></p></form>
     {%for key, value in res.items()%}
         <p> <a href="{{key}}">{{value[0]}}</a> </p>
		 <p>{{value[1]}}</p>
		 <br>
		 <br>
     {% endfor %}
	 
	 {% if page > 0 %}
	 <a href="/?tofind={{search_line}}&page={{page-1}}">← назад</a>
	 {% endif %}
	 {% if page < maxpages %}
	 <a href="/?tofind={{search_line}}&page={{page+1}}">вперёд →</a>
	 {% endif %}
 </article>

</body>
</html>
