<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Поиск по корпусу текстов</title>
</head>
<body>

<article>
  <header>
    <h1>Поиск</h1>
  </header>
 <form action="/" method="GET" name="search">
  <p><strong>Введите фразу, которую хотите искать</strong></p>
  <p><input type="text" id="tofind" name="tofind" value="{{search_line}}" maxlength="500"></p>
  <p><input type="submit" value="Искать"></p>
  {% if res == [] %}
	<p></p>
{% else %}
        {%for key, value in res.items()%}
         <p> <a href="{{key}}">{{value[0]}}</a> </p>
		 <p>{{value[1]}}</p>
		 <br>
		 <br>
        {% endfor %}

{% endif %}
 </form>
 </article>

</body>
</html>
