<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Статистика</title>
</head>
<body>

<article>
  <header>
    <h1>Статистика</h1>
	<p><a href="/">На главную</a></p>
  </header>
  <p><ul>{% block content %}Средний возраст респодентов – {{ aver_age }} лет{% endblock %}</ul></p>
  <p>Количество респодентов для каждого языка:</p>
  <p><ul>
    {% for lang, amount in lang_usage.items() %}
        <li>{{ lang }} – {{ amount }}</li>
    {% endfor %}
</ul>
</p>
</article>

</body>
</html>